<?xml version="1.0" encoding="utf-8"?>
<robot name="pneumatic_disassembly_unit_example" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include description for system -->
  <xacro:include filename="$(find pneumatic_disassembly_unit_description)/urdf/pneumatic_disassembly_unit.urdf.xacro" />

  <!-- Instantiate Pneumatic disassembly unit with 2 cylinders -->
  <xacro:pneumatic_disassembly_unit prefix="c_212_pneumatic_disassembly_unit_with_2_cylinders_" />

  <link name="world" />

  <joint name="c_212_pneumatic_disassembly_unit_with_2_cylinders_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="c_212_pneumatic_disassembly_unit_with_2_cylinders_base_link"/>
  </joint>

</robot>
